* {
  margin: 0;
  padding: 0;
}

.page {
  width: 100%;
  max-width: 1152px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  .reg-form-block,
  .auth-form-block,
  .user-data {
    margin: auto;

  }
}
#messages {
  width: 300px;
  height: 150px;
  overflow: auto;
  border: 1px solid grey;
}