$font-stack: Helavica, sans-serif;
$font-title: Srisakdi, cursive;
$primary-color: #000;
$title-color: #f2f2f2;
$bg-color-header: #6acd67;
@import url('https://fonts.googleapis.com/css?family=Srisakdi');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 100%;

  header {
    width: 100%;
    height: 100px;
    background-color: $bg-color-header;
    margin: auto;
    border-radius: 5px;
    .page-title-block {
      display: flex;
      float: left;
      height: 100%;
      padding-left: 40px;
      font-weight: bold;
      .page-title {
        color: $title-color;
        font-family: $font-title;
        font-size: 3.7em;
        margin: auto;
      }
    }
    .user-block {
      float: right;
      height: 100%;
      display: flex;
      div {
        float: left;
        padding: 10px;
        margin: auto;
      }
      .user-avatar {
        height: 40px;
        width: 40px;
        background-color: black;
        background-image: url("https://up.gc-img.net/post_img_web/2018/02/js6TA8tKuPXHptg.jpeg");
        background-position: center;
        background-size: cover;
      }
      .user-name {
        font-size: 1.5em;
        color: $title-color;
        text-decoration: underline;
      }
    }
  }

  .chat-block {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;

    .chat-window {
      max-width: 960px;
      width: 100%;
      height: 100%;
      margin: auto;
      border: 2px solid #c0c0c0;
      overflow-y: scroll;

    }
    .chat-form {
      width: 100%;
      height: 100px;
      position: fixed;
      bottom: 0;
      background-color: $bg-color-header;
      display: flex;
      border-radius: 5px;

      form {
        margin: auto;
        //width: 100%;

        #message {
          width: 500px;
          height: 50px;
          border-radius: 5px;
          border: none;
        }
        #sendBtn {
          background-color: #ff7567;
          width: 100px;
          height: 50px;
          border: none;
          border-radius: 5px;
          font-size: 1.05em;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}



